html {
  font-family: "Poppins";
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

/* header section */

header {
  padding: 0 96px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 28px;
}

.Logo_text {
  color: #131316;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  cursor: pointer;
}

.Logo {
  position: relative;
}

.Logo_line {
  position: absolute;
  left: 110px;
}

.Nav_buttons span {
  margin: 0 20px;
  margin: 0 20px;
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  transition: 200ms ease-in-out;
}

.Nav_buttons span:hover {
  padding: 12px 24px;
  border-radius: 12px;
  background: #f5f5f5;
  cursor: pointer;
}

.Nav_buttons span:nth-child(4) {
  margin: 0 0 0 44px;
  padding: 12px 24px;
  border-radius: 12px;
  background: #f5f5f5;
}

.burger {
  display: none;
}

.title {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title_main {
  max-width: 824px;
  width: 100%;
  color: #131316;
  font-size: 64px;
  font-weight: 500;
  letter-spacing: -2px;
}

.title_sub {
  max-width: 611px;
  width: 100%;
  color: #131316;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.title_buttons {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  gap: 16px;
}

.Get_started {
  width: 166px;
  color: #fff;
  text-align: center;
  padding: 16px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  border-radius: 16px;
  background: #4891ff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.Get_started:hover {
  background-color: #f5f5f5;
  color: #4891ff;
  box-shadow: 0px 0px 10px 0px #4891ff;
}

.Book_a_demo {
  width: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131316;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  padding: 16px 0;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f5f5f5;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.Book_a_demo:hover {
  background-color: #bcbbbb;
  box-shadow: 0px 0px 5px 0px #000000;
}

.Book_a_demo img {
  margin-right: 10px;
}
/* main section */
.Hero_wraper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 24px;
  margin-top: -130px;
}

.Left img {
  max-width: 100%;
  height: auto;
}

.Right img {
  max-width: 100%;
  height: auto;
}

main {
  padding: 0 85px;
}

.main_title {
  display: flex;
  margin: 110px auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 24px;
  max-width: 835px;
  max-height: 194px;
}

.main_head {
  color: #131316;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -1px;
}

.main_sub {
  max-width: 620px;
  width: 100%;
  height: 52px;
  color: #494a4d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
/* block 1 */
.Boards {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Tools_Dashboard img {
  max-width: 100%;
  height: auto;
}

.Sales_Board img {
  max-width: 100%;
  height: auto;
}

.Comunication {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  column-gap: 24px;
}
/* block 2-4 */
.Block_wraper {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  column-gap: 24px;
}

.Block {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 513px;
}

.Block_head {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -1px;
}

.Block_main {
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 20px;
}

.Block_footer {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.32px;
  margin-top: 40px;
  cursor: pointer;
  width: 120px;
}

.Block_img img {
  max-width: 100%;
  height: auto;
}

.Block_footer img {
  margin-left: 8px;
}

.Block_footer img {
  transition: transform 0.5s;
}

.Block_footer:hover img {
  transform: rotateY(180deg);
}
/* reviews section */
.reviews {
  margin-top: 100px;
  background: #131316;
  padding: 90px 85px 100px;
}

.video_block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video_block .Get_started {
  margin-top: 64px;
}

.video_title {
  max-width: 767px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 57px;
  letter-spacing: -1px;
}

.video {
  margin-top: 44px;
  position: relative;
}

.button_wraper {
  position: absolute;
  top: 45%;
  left: 45%;
  cursor: pointer;
}

.button_wraper svg {
  fill: white;
  transition: 200ms;
  border-radius: 50%;
}

.button_wraper svg:hover {
  box-shadow: 0 0 20px rgb(244, 244, 244);
  fill: #dedede;
}

hr {
  margin-top: 100px;
  max-width: 1270px;
  width: 100%;
  border: 1px solid #494949;
}

.reviews_block {
  max-width: 1270px;
  margin-top: 100px;
}

.reviews_title {
  max-width: 830px;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
  text-align: left;
}

.reviews_sections {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  overflow-x: scroll;
}

.section_block {
  box-sizing: border-box;
  max-width: 406px;
  display: flex;
  padding: 40px 45px 40px 40px;
  row-gap: 50px;
  border-radius: 16px;
  background: #fafafa;
  flex-direction: column;
  flex-shrink: 0;
  height: min-content;
}

.section_title {
  color: #131316;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
}

.section_name {
  color: #131316;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.section_company {
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pricing-wrapper {
  display: flex;
  justify-content: center;
  padding: 0 85px;
}

.price-block {
  margin: 100px 0 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  max-width: 830px;
  column-gap: 24px;
}

.price-block__title {
  display: flex;
  flex-direction: column;
  max-width: 612px;
  row-gap: 24px;
}

.price-block__title-text {
  color: #131316;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -3px;
}

.price-block__title-subtext {
  color: #131316;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.price-block__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.price-block__card--padding {
  display: flex;
  flex-direction: column;
  padding: 56px;
  border-radius: 16px;
  background: #f8f8f8;
  max-width: 400px;
  min-width: 343px;
  box-sizing: border-box;
}

.card__about {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.card__title {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.36px;
}
.card__subtitle {
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.card__price {
  display: flex;
  column-gap: 10px;
  align-items: flex-end;
  margin-top: 32px;
}

.card__price-status {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.36px;
}

.card__price-about {
  color: #131316;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: -0.14px;
  margin-bottom: 5px;
}

.card__hr {
  max-width: 288px;
  border: 1px solid #dfdee2;
  margin: 24px 0 32px;
}

.card__li-title {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  max-width: 262px;
}

.card__list {
  display: flex;
  gap: 12px;
  list-style: none;
  flex-direction: column;
}

.card__list li {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.card__list-premium {
  display: flex;
  margin-top: 12px;
  gap: 12px;
  flex-direction: column;
}

.card__list-premium li {
  display: flex;
  align-items: flex-start;
  gap: 9px;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.card__list li img,
.card__list-premium li img {
  margin-top: 7px;
}

.price-block__button {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.price-block__button .Get_started {
  max-width: 295px;
  width: 100%;
}

.card-premium {
  color: #e5e7eb;
  background: #131316;
}

.price-block__subtitle {
  text-align: center;
}

footer {
  background: #131316;
  padding: 100px 85px 40px;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content__logo {
  margin-bottom: 42px;
}

.footer-content__main-content {
  display: flex;
  flex-direction: row;
  column-gap: 130px;
  row-gap: 40px;
}

.subscribe-field {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #f4f4f6;
  padding: 24px;
  max-width: 421px;
}

.subscribe-field__title {
  color: #35333c;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 8px;
}

.subscribe-field__subtitle {
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 20px;
  max-width: 354px;
}

.subscribe-field__form-button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.email-form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  max-width: 220px;
  padding: 12px 24px 12px 12px;
  align-items: center;
  gap: 10px;
  color: #605e6d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #bebdc6;
  transition: 100ms ease-in-out;
}

.subscribe-field__button .Get_started {
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
}

.footer-content__links-lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 613px;
  flex-wrap: wrap;
  row-gap: 40px;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #bcc2c3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.links-list span:first-child {
  color: #dfdee2;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}

.links-list span:nth-child(n + 2) {
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.links-list span:hover {
  color: #ffffff;
}

.footer-content__social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-top: 40px;
}

.footer-content__social svg {
  cursor: pointer;
}

.footer-content__rights {
  margin-top: 60px;
  color: #bcc2c3;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

@media (max-width: 1100px) {
  .Hero_wraper {
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
  }

  .Right {
    margin-top: -25px;
  }

  .Boards {
    flex-direction: column;
    align-items: center;
  }
  .Block_wraper {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    margin-top: 40px;
  }

  .Block_wraper:nth-child(5),
  .Block_wraper:nth-child(3) {
    flex-direction: column-reverse;
  }

  .video img {
    width: 550px;
  }

  .button_wraper {
    top: 41%;
    left: 44%;
  }

  .button_wraper svg {
    width: 60px;
    height: 60px;
  }

  .price-block__cards {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 957px) {
  .footer-content__main-content {
    flex-direction: column;
  }
}

@media (max-width: 845px) {
  header {
    padding: 0 48px;
  }

  main {
    padding: 0 48px;
  }

  .main_title {
    margin-top: 60px;
  }

  .reviews {
    padding: 0 48px;
  }

  .Nav_buttons {
    display: none;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  .title {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .title_main {
    min-width: 340px;
    color: #131316;
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
  }
  .title_sub {
    color: #131316;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
  }

  .title_buttons {
    flex-direction: column;
    align-items: center;
  }

  .Get_started,
  .Book_a_demo {
    width: 100%;
    max-width: 340px;
  }

  .main_head {
    color: #131316;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }

  .main_sub {
    color: #494a4d;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  .Block_head {
    color: #131316;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }

  .Block_main {
    color: #494a4d;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  .Block_footer {
    color: #131316;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    margin-top: 20px;
  }

  .video_title {
    margin-top: 45px;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }

  .video img {
    width: 340px;
  }

  .button_wraper {
    top: 43%;
    left: 43%;
  }

  .button_wraper svg {
    width: 40px;
    height: 40px;
  }

  .reviews_title {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
  }

  .pricing-wrapper {
    padding: 0 48px;
  }

  .subscribe-field__title {
    color: #35333c;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
  }
}

@media (max-width: 584px) {
  .email-form {
    max-width: 166px;
  }
}

@media (max-width: 550px) {
  header {
    padding: 0 16px;
  }

  main {
    padding: 0 16px;
  }

  .reviews {
    padding: 0 16px;
  }

  .reviews_sections {
    flex-direction: column;
    overflow: none;
    row-gap: 32px;
    align-items: center;
  }

  .section_block {
    padding: 32px 24px;
    row-gap: 20px;
  }

  .section_title {
    font-size: 16px;
    line-height: 24px;
  }

  .section_name {
    font-size: 16px;
    line-height: 24px;
  }

  .section_company {
    font-size: 16px;
    line-height: 24px;
  }

  .pricing-wrapper {
    padding: 0 16px;
  }

  .price-block__title-text {
    color: #131316;
    font-size: 32px;
    line-height: 38px;
  }

  .price-block__title-subtext {
    font-size: 16px;
    line-height: 26px;
  }

  .price-block__card--padding {
    padding: 40px 24px;
  }

  .card__title {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.28px;
  }

  .card__subtitle {
    font-size: 16px;
    line-height: 26px;
  }

  .card__price-status {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.28px;
  }

  .card__price-about {
    font-size: 12px;
    line-height: 14px;
  }

  .card__hr {
    margin: 32px 0;
  }

  .footer-content__logo {
    margin-bottom: 24px;
  }

  .email-form {
    padding: 12px 8px 12px 12px;
  }

  .footer-content__social {
    margin-top: 60px;
  }

  .footer-content__rights {
    margin-top: 24px;
  }

  footer {
    padding: 63px 16px 25px;
  }
}
